@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.dropdown-content {
  background: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
.dropdown-content .ant-dropdown-menu {
  box-shadow: none;
}

.ant-tree-node-content-wrapper {
  width: auto !important;
}

.ant-pro-layout,
.ant-pro-layout .ant-layout,
.ant-pro-layout .ant-layout-header,
.ant-pro-layout .ant-layout-sider,
.ant-pro-layout .ant-layout-content,
.ant-pro-layout .ant-menu,
.ant-pro-layout .ant-menu-item,
.ant-pro-layout .ant-pro-global-header,
.ant-pro-layout .ant-pro-sider-menu {
  font-family: "Plus Jakarta Sans", "Roboto", Arial, sans-serif;
}
